*.py[co]

# Packages
*#
*.egg
*.egg-info
testProf
dist
build
eggs
parts
test/
bin
var
sdist
*private.xml
develop-eggs
.installed.cfg
nbproject/private/private.properties

# Data files
src/punamustaAddToEmpty
src/punamustaFindWordCoun
src/punamustaFindWordLength
src/trieAddToEmpty
src/trieFindWordCount
src/trieFindWordLength


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
